<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <title>Circo</title>
</head>

<body>
    <main id="app">
        <div class="chatApp">
            <h3>There are current <span class="highlighted">{{ connections }} lonely people</span> here.</h3>
            <section class="messages">
                <small v-if="typing" class="small" class="fa fa-commenting-o">{{ typing }} is typing...</small>
                <ul class="eachMessage" v-for="message in messages">
                    <newmessage :msg="message" :socketid="socketID"></newmessage>
                </ul>
        </div>

        <div class="sendArea">
            <form @submit.prevent="send">
                <div class="barBox">
                    <form $submit.prevent="send">
                        <input type="text" class="writeMessage" v-model="message" placeholder="Say something...">
                    </form>
                </div>
            </form>
        </div>
        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>

</html>