<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <title>Circo</title>
</head>

<body>
    <main id="app">
        <h1 class="hidden">Circo - Chat App</h1>

        <div v-if="!usercheck">
            <h2>Welcome to Circo.</h2>
            <p>Here is the place where people come to talk about their hobbies then walk away without any commitment.
            </p>
            <h3>Which circle represents you the best?</h3>
            <div class="imgContainer">
                <img src="images/symbol1.svg" alt="Symbol" @click="setasSymbol" id="symbol1.svg">
                <img src="images/symbol2.svg" alt="Symbol" @click="setasSymbol" id="symbol2.svg">
            </div>
            <h3>What should we call you?</h3>
            <form @submit.prevent="addUser" id="userInfo">
                <input type="text" class="userName" placeholder="My name is" v-model="username">
                <input type="submit" value="JOIN" class="submitButton">
            </form>
        </div>

        <div id="chatApp" v-if="usercheck">
            <div class="messages">
                <small v-if="typing" class="fa fa-commenting-o">{{ typing }} is typing...</small>
                <ul id="messages" v-for="message in messages">
                    <newmessage :msg="message" :socketid="socketID"></newmessage>
                </ul>
            </div>
            <div class="barBox">
                <form @submit.prevent="dispatchMessage">
                    <input type="text" class="writeMessage" v-model="message" placeholder="Say something...">
                </form>
            </div>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>

</html>