.new-message{
    padding: 10px;
    background-color: goldenrod;
    color: indigo;
    border-radius: 8px;
    float: left;
    clear: both;
    margin-top: 10px;
}

.my-message{
    background-color: indigo;
    color: goldenrod;
    float: right;
    margin-top: 10px;
}

.imgContainer{
    img{
        max-width: 150px;
        cursor: pointer;
        transition-duration: 1s;
    }
    img:hover{
        transform: scale(1.25) translateY(-15px);
        transition-duration: 1s;
        cursor: pointer;
    }
}