.new-message{
    padding: 10px;
    background-color: goldenrod;
    color: indigo;
    border-radius: 8px;
    float: left;
    clear: both;
    margin-top: 10px;
}

.my-message{
    background-color: indigo;
    color: goldenrod;
    float: right;
    margin-top: 10px;
}